* {
  box-sizing: border-box;
}

.__back-btn {
  top: 5px;
  left: 5px;
  position: fixed;
  font-size: 14px;
  z-index: 999;
}

.example-container {
  margin-top: 30px;
  /* margin: 10px; */
  /* border: 1px solid pink; */
}
