.todos {
  max-width: 500px;
  padding: 0;
  margin: auto;
  margin-top: 50px;
}

* {
  box-sizing: border-box;
}

.todo-list {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.new-todo {
  width: 100%;
  margin: 0;
  padding: 0;
}
.new-todo input {
  height: 30px;
  font-size: 14px;
  width: 100%;
}

.todo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid #ccc;
}
.todo.todo-saving {
  opacity: 0.5;
}
.todo-circle {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid crimson;
  margin-right: 2px;
  background-color: #fef;
}

.todo.todo-done {
  /* color: green; */
}
.todo.todo-done .todo-circle {
  color: green;
  border: 1px solid green;
}
.todo.todo-done .todo-title {
  text-decoration: line-through;
}
