/* your custom css */

.nav-footer .inmagikOpenSource {
  width: 70px;
  height: 70px;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 50%;
  opacity: 1;
}

.nav-footer .inmagikOpenSource img {
  width: 68px;
  height: 68px;
}

div.container {
  padding: 15px 0;
}

.text-center {
  text-align: center;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
  .separateOnPageNav .docsNavContainer {
    flex: 0 0 260px;
  }
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
