.todos {
  max-width: 500px;
  padding: 0;
  margin: auto;
  margin-top: 50px;
}

.action-button-rj {
  margin-top: 3px;
}
.action-button-rj button {
  width: 100px;
  font-weight: bold;
}

.todo-list {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.new-todo {
  width: 100%;
  margin: 0;
  padding: 0;
}
.new-todo input {
  height: 30px;
  font-size: 14px;
  width: 100%;
}

.todo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid #ccc;
}
.todo.todo-saving {
  opacity: 0.5;
}
.todo-circle {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid crimson;
  margin-right: 2px;
  background-color: #fef;
}

.optimistic-todos-tagline {
  color: deepskyblue;
  font-size: 25px;
}

.optimistic-todos {
  display: flex;
}
.optmistic-hack-lucky {
  flex: 1;
  text-align: right;
}

.todo .todo-increment {
  color: crimson;
  margin-right: 20px;
}
.todo .todo-delete {
  border-radius: 40%;
  color: salmon;
}
.todo.todo-done .todo-circle {
  color: green;
  border: 1px solid green;
}
.todo.todo-done .todo-title {
  text-decoration: line-through;
}

.todos-opt-toasts-container {
  top: 0;
  bottom: 0;
  position: fixed;
  right: 0;
  width: 20%;
  overflow-y: auto;
}
.todos-opt-toast-error {
  animation: fade 0.6s linear;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;

  margin-top: 5px;
  border-radius: 5px;
  margin-right: 5px;
  height: 50px;
  padding: 5px;
  border: 1px solid wheat;
  color: wheat;
  background: crimson;
  margin-bottom: 10px;
}

.todos-opt-toast-error.toast-fade-out {
  opacity: 0;
  transition: opacity 0.6s ease-out;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
